img{
  width: 100%;
}
.box{
  position: relative;
  text-align: center;
}
.big-img{
  display: inline-block;
  position: relative;
  width: 900px;
  height: 450px;
  margin: 0 auto;
  font-size: 0;
  overflow: hidden;
}
.big{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 900px;
  height: 450px;
  line-height: 450px;
  font-size: 24px;
  font-weight: bold;
  color: #666;
  
}
.little-img{
  font-size: 0;
  position: absolute;
  z-index: 3;
  margin-top: -100px;
  left: 50%;
  margin-left: -415px;
}
.little{
  width: 150px;
  height: 83px;
  overflow: hidden;
  margin: 0 5px;
  font-size: 14px;
  color: #f2f3e4;
  display: inline-block;
  border: 3px solid;
  transition: border .5s;
  position: relative;
}
.little::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.7;
  transition: opacity .5s;
}
.little:hover,.little.active{
  border-color: #f60;
  cursor: pointer;
}
.little.active::after,.little:hover:after{
  opacity: 0;
}
.one{
  background: #f9f9f9;
}
.two{
  background: #f3f3f3;
}
.three{
  background: #e6e6e6;
}
.four{
  background: #e1e1e1;
}
.five{
  background: #d6d6d6;
}
.six{
  background: #c9c9c9;
}

/* big-ani */
.big.ani{
  /* display: block; */
  z-index: 2;
}
/* .big:nth-child(1){
  transform: translateX(-500px);
  transition: transform .5s ease-out;
}
.big.ani:nth-child(1){
  transform: translateX(0);
}
.big:nth-child(2){
  transform: translateY(350px);
  transition: transform .5s ease-out;
}
.big.ani:nth-child(2){
  transform: translateY(0);
}
.big:nth-child(3){
  transform: scale(0.1);
  transition: transform 1s ease-in;
}
.big.ani:nth-child(3){
  transform: scale(1);
}
.big:nth-child(4){
  transform: scale(2);
  transition: transform 1s ease-out;
}
.big.ani:nth-child(4){
  transform: scale(1);
}
.big:nth-child(5){
  transform: rotate(-360deg) scale(0.1);
  transition: transform 0.7s ease-in-out;
}
.big.ani:nth-child(5){
  transform: rotate(0deg)  scale(1);
} */

@keyframes one{
  from{
    transform: translateX(-500px);
  }
  to{
    transform: translateX(0px);
  }
}
.big.ani:nth-child(1){
  animation: one .5s ease-out;
}
@keyframes two{
  from{
    transform: translateY(350px);
  }
  to{
    transform: translateY(0px);
  }
}
.big.ani:nth-child(2){
  animation: two .5s ease-out;
}
@keyframes three{
  from{
    transform: scale(0.1);
  }
  to{
    transform: scale(1);
  }
}
.big.ani:nth-child(3){
  animation: three 1s ease-in;
}
@keyframes four{
  from{
    transform: scale(2);
  }
  to{
    transform: scale(1);
  }
}
.big.ani:nth-child(4){
  animation: four 1s ease-out;
}
@keyframes five{
  from{
    transform: rotate(-360deg) scale(.1);
  }
  to{
    transform: rotate(0deg) scale(1);
  }
}
.big.ani:nth-child(5){
  animation: five .7s ease-in-out;
}