*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #1b1b1b;
  font-family: 'Microsoft YaHei';
  font-weight: 300;
  color: #f1f1f1;
}