*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: #1b1b1b;
  font-family: 'Microsoft YaHei';
  font-weight: 300;
  color: #f1f1f1;
}
.left{
  float: left;
  width: 50%;
}
.wrapper {
  padding-top: 30px;
}

.viewport {
  /* 透视 */
  perspective: 800px;
  -moz-perspective: 800px;
  -webkit-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  /* 透视基点 */
  perspective-origin: 50% 200px;
  -moz-perspective-origin: 50% 200px;
  -webkit-perspective-origin: 50% 200px;
  -ms-perspective-origin: 50% 200px;
  -o-perspective-origin: 50% 200px;
  /* 缩放 */
  -moz-transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -o-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
  /* 投影 */
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, transparent), to(rgba(250, 250, 250, .1)));
}

.cube {
  position: relative;
  margin: 50px auto;
  height: 200px;
  width: 200px;
  /* 3d展示子元素 */
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /* 旋转自身 */
  -moz-transform: rotateX(-394deg) rotateY(1032deg);
  -webkit-transform: rotateX(-394deg) rotateY(1032deg);
  -ms-transform: rotateX(-394deg) rotateY(1032deg);
  -o-transform: rotateX(-394deg) rotateY(1032deg);
  transform: rotateX(-394deg) rotateY(1032deg);
}

.cube div.side {
  overflow: hidden;
  position: absolute;
  /* opacity: 0.9; */
  height: 200px;
  width: 200px;
  /* background-image: url("http://jordizle.com/static/img/blank.png"); */
  -moz-touch-callout: none;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -o-touch-callout: none;
  touch-callout: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  outline: 1px solid transparent;
}

.side {}

.cube .cube-image,.cube-box {
  
  -webkit-transform: rotate(180deg)!important;
  -moz-transform: rotate(180deg)!important;
  -ms-transform: rotate(180deg)!important;
  -o-transform: rotate(180deg)!important;
  transform: rotate(180deg)!important;
  
  /* -webkit-transition: color 600ms;
  -moz-transition: color 600ms;
  -ms-transition: color 600ms;
  -o-transition: color 600ms;
  transition: color 600ms; */
}

/* 骰子效果 */

.cube .cube-box {
  width: 200px;
  height: 200px;
  line-height: 200px;
  font-size: 80px;
  text-align: center;
  color: #1b9bd8;
  padding: 20px;
  
  background: #e7e7e7;
  -webkit-box-shadow: inset 0 5px white, inset 0 -5px #bbb, inset 5px 0 #d7d7d7, inset -5px 0 #d7d7d7;
  -moz-box-shadow: inset 0 5px white, inset 0 -5px #bbb, inset 5px 0 #d7d7d7, inset -5px 0 #d7d7d7;
  box-shadow: inset 0 5px white, inset 0 -5px #bbb, inset 5px 0 #d7d7d7, inset -5px 0 #d7d7d7;
  -webkit-border-radius: 10%;
  border-radius: 10%;
  display: flex;
  justify-content: space-between;
}

span.item {
  display: block;
  width: 45px;
  height: 45px;
  margin: 5px;
  background: #333;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 5px #151515, inset 0 -3px #737373;
  -moz-box-shadow: inset 0 5px #151515, inset 0 -3px #737373;
  box-shadow: inset 0 5px #151515, inset 0 -3px #737373;
}

.cube .cube-box.one-cube {
  justify-content: center;
  align-items: center;
}

.two-cube,
.three-cube,
.four-cube {

}

.two-cube .item:nth-of-type(2) {
  align-self: flex-end;
}

.three-cube .item:nth-of-type(2) {
  align-self: center;
}

.three-cube .item:nth-of-type(3) {
  align-self: flex-end;
}
.column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.five-cube .column:nth-child(2){
  justify-content: center;
}
/* 骰子效果完 */

.cube-image:active {
  /* color: red; */
}

.cube>div:hover,
div:active {
  cursor: pointer;
}

.ani .side:first-child {
  -webkit-transform: rotateX(90deg) translateZ(100px);
  -moz-transform: rotateX(90deg) translateZ(100px);
  -ms-transform: rotateX(90deg) translateZ(100px);
  -o-transform: rotateX(90deg) translateZ(100px);
  transform: rotateX(90deg) translateZ(100px);
}

.ani .side:nth-child(2) {
  -webkit-transform: translateZ(100px);
  -moz-transform: translateZ(100px);
  -ms-transform: translateZ(100px);
  -o-transform: translateZ(100px);
  transform: translateZ(100px);
}

.ani .side:nth-child(3) {
  -webkit-transform: rotateY(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) translateZ(100px);
  -ms-transform: rotateY(90deg) translateZ(100px);
  -o-transform: rotateY(90deg) translateZ(100px);
  transform: rotateY(90deg) translateZ(100px);
}

.ani .side:nth-child(4) {
  -webkit-transform: rotateY(180deg) translateZ(100px);
  -moz-transform: rotateY(180deg) translateZ(100px);
  -ms-transform: rotateY(180deg) translateZ(100px);
  -o-transform: rotateY(180deg) translateZ(100px);
  transform: rotateY(180deg) translateZ(100px);
}

.ani .side:nth-child(5) {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
  -moz-transform: rotateY(-90deg) translateZ(100px);
  -ms-transform: rotateY(-90deg) translateZ(100px);
  -o-transform: rotateY(-90deg) translateZ(100px);
  transform: rotateY(-90deg) translateZ(100px);
}

.ani .side:nth-child(6) {
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
  -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
  -ms-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
  -o-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
  transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
}

object {
  opacity: .5;
}

object:hover {
  opacity: 1;
}

/* 第二组 */
.cube1{
  -webkit-transform: rotateX(136deg) rotateY(1122deg);
  -moz-transform: rotateX(136deg) rotateY(1122deg);
  -ms-transform: rotateX(136deg) rotateY(1122deg);
  -o-transform: rotateX(136deg) rotateY(1122deg);
  transform: rotateX(136deg) rotateY(1122deg);
}
.cube1 .cube-box{
  background: #84f8ff;
  -webkit-box-shadow: inset 0 5px #dafdff, inset 0 -5px #68c7ce, inset 5px 0 #69c9d0, inset -5px 0 #51abb1;
  box-shadow: inset 0 5px #dafdff, inset 0 -5px #68c7ce, inset 5px 0 #69c9d0, inset -5px 0 #51abb1;
}
.cube1 span.item{
  background: #116a79;
  -webkit-box-shadow: inset 0 5px #09353c, inset 0 -3px #4bc3d4;
  box-shadow: inset 0 5px #09353c, inset 0 -3px #4bc3d4;
}
@media(max-width: 640px) {
  .viewport {
    -webkit-transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
  }
}