/*
 * @Author: guojufeng@ 
 * @Date: 2018-08-01 10:14:47
 * public
 */
html{
  background: #ffbb72;
}
body{
  /* 为了统一border的颜色，border-color默认使用 */
  color: #673535;
}

.clearfix{
  *zoom: 1;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.container{
  position: relative;
  margin-top: 60px;
  text-align: center;
  min-width: 475px;
}
.face {
  width: 400px;
  height: 300px;
  margin: -30px auto 0;
  border: 2px solid;
  position: relative;
  background: #fff;
  border-radius: 180px 180px 120px 120px
}
/* 耳朵部分 */
.ear{
  opacity: 0;
  display: inline-block;
  z-index: -1;
}
/* 耳朵 */
.ear-petal {
  float: left;
  width: 70px;
  height: 60px;
  border: 3px solid;
  background: #fff;
}
/* 左耳朵 */
.ear-petal.left {
  margin-right: 150px;
  /* transform: rotate(20deg); */
}
/* 眼睛部分 */
.eye{
  opacity: 0;
  margin-top: 50px
}
/* 眼球 */
.eye-bead{
  display: inline-block;
}
/* 左眼球 */
.eye-bead.left{
  margin-right: 80px;
}
/* 眼睑 */
.palpebra{
  border-radius: 50%;
  height: 135px;
  width: 100px;
}
/* 上眼睑 */
.palpebra-top{
  border-top: 3px solid;
}
/* 下眼睑 */
.palpebra-bottom{
  border-bottom: 3px solid;

}
/* 眼珠 */
.eyeball{
  width: 65px;
  height: 81px;
  margin: -137px auto;
  background: #f3f3f3;
  border: 1px solid;
  padding: 5px;
  box-sizing: border-box;
  background-clip: content-box;
  border-radius: 48%;
}
/* 鼻子 */
.nose{
  position: relative;
  width: 45px;
  height: 30px;
  border-radius: 20px;
  background: #673535;
  margin: 60px auto 0;
}
/* 鼻子点 */
.nose-dot{
}
/* 胡须 */
.nose-lines{
  opacity: 0;
  position: absolute;
  margin-top: 6px;
}
/* 左胡须 */
.nose-lines.left{
  /* right: 0; */
  margin-left: -88px;
}
/* 右胡须 */
.nose-lines.right{
  /* left: 0; */
  margin-left: 13px;
}
/* 胡须 */
.nose-line{
  width: 120px;
  border-top: 1px solid;
  margin-bottom: 10px;
}
/* 六根胡须 */
.line1,.line6{
  transform: rotate(15deg);
}
.line4,.line3{
  transform: rotate(-15deg);
}
/* 嘴巴 */
.mouth{
  opacity: 0;
  margin-top: -45px;
}
/* 嘴瓣 */
.mouth-bead{
  display: inline-block;
  width: 85px;
  height: 45px;
  border-bottom: 3px solid;
  border-radius: 45%;
}
/* 左边嘴 */
.mouth-bead.left{
  /* margin-left: -10px; */
}
/* 右边嘴 */
.mouth-bead.right{
  margin-left: -20px;
}